
<div class='row' id='row'>
  <h2>Create New User</h2>
  <br/><br/>
  
  <div class='col-lg-2 col-md-2 '>    
    <%= image_tag 'user.png', size: '150x150', alt: 'Image Not found' %><br /><br />    
    <%= link_to "Change Image", "", class: 'btn btn-primary' %>
  </div>
  
  <div class='col col-lg-10 col-md-10 '>    
    <div id='user-details'>              
      <%= render 'form' %>      
    </div>
  </div>
  
</div>
  
