<% if @courses.any? %>
    $('#courses').html("<%= j render partial: 'courses' %>");
<% else %>
    $('#courses').html("No courses available.");  
<% end %>

$("#notice").html("<h3>Course was successfully destroyed.</h3>").slideDown().delay(3500).slideUp();