

<div class='row' id='about-me'>
  <div class='col col-lg-6 col-md-6 ' id='about-me-img'>
    <%= image_tag "me.jpg", size: '250x250', alt: 'Khalid Alsaadi', class: 'img-circle' %>
  </div>

  <div id='about-me-info' class='col col-lg-6 col-lg-pull-2 col-md-6'>
    <h4>
      Khalid Nasser Abdullah Alsaadi <br/><br/>
      RoR Developer at ClickApps Company<br/><br/>
      Yemen-Hadramout-Alsheher<br/><br/>
      k.alsaady@clickapps.co<br/><br/>
      kh.alsaady@gmail.com<br/><br/>
      00967700410453
    </h4>
    
  </div>
</div>
  
<div class='row' id='social-icons'>
  <div class='col'>         
      <a href= '#'> <i class='fa fa-facebook-square fa-3x'></i> </a>
      <a href= '#'> <i class='fa fa-twitter-square fa-3x'> </i>  </a>
      <a href= '#'> <i class='fa fa-linkedin-square fa-3x'> </i> </a>
  </div>
</div>        
