// display accounts
<% if @accounts.any? %>
    $("#accounts").html("<%= j render partial: 'accounts' %>"); 
<% else %>
    $("#accounts").html("<h3>No Accounts Match Your Selecting.</h3>"); 
<% end %>

toastr.success('<%= flash[:success] %>') ;
$('.modal').modal('hide');



